{% extends 'Basis/header.html' %}
{% load static %}
{% block content %}
<!--script>
    var body = document.body;
    body.classList.add("login");
</script-->
<div id="content-main" class="aligned">
    <form action="" method="post" id="login-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <div class="form-row">
                {{ form.as_p }}
        </div>
        <div class="submit-row">
            <input class="default" type="submit" value="Login">
        </div>
    </form>
</div>
</script>
{% endblock %}