{% extends 'Basis/header.html' %}
{% load static %}
{% block content %}
<div id="content-main" class="aligned">
    <form action="" method="post" id="login-form">
        <fieldset class="module aligned">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            <div class="form-row">
                    {{ form.as_p }}
            </div>
        </fieldset>
        <div class="submit-row">
            <input class="default" type="submit" value="Mein Password ändern">
        </div>
    </form>
    
</div>
</script>
{% endblock %}