{% extends 'Basis/header.html' %}
{% block content %}
<h1 style="width: 800px;">Datenschutzerklärung zwecks Beförderung mit dem Bürgerbus der VG Alzey-Land</h1>

{% if klient %}

<p style="width: 800px;text-align: justify;">Hiermit willige ich,
<b>{{ klient.vorname }}&nbsp;{{ klient.nachname }},&nbsp;{{ klient.ort }}&nbsp;{{ klient.strasse}}&nbsp;{{ klient.hausnr }}</b>, in die Verarbeitung meiner 
folgenden personenbezogenen Daten <br><b>Name<br>Anschrift<br>Telefon-Nr.<br>Bemerkungen</b><br> durch die Verbandsgemeinde Alzey-Land ein.
Die Datenverarbeitung erfolgt ausschließlich zum Zweck der Planung der Fahrten mit dem VG Bürgerbus.<br>
Die Einwilligung erfolgt auf freiwilliger Basis und ich kann sie jederzeit mit Wirkung für die Zukunft widerrufen. 
Ab Zugang der Widerrufserklärung dürfen meine Daten nicht weiterverarbeitet werden. Sie sind unverzüglich zu löschen. 
Durch den Widerruf meiner Einwilligung wird die Rechtmäßigkeit der bis dahin erfolgten Verarbeitung nicht berührt.<br>
<b>Ein weiterer Transport mit dem Bürgerbus ist damit aber ausgeschlossen.</b><br>
Meine Widerrufserklärung kann ich schriftlich an die Verantwortliche des Bürgerbusses (Frau Kerstin Rupp, VG Alzey-Land) richten.<br><br>
<b>{{ klient.vorname }}&nbsp;{{ klient.nachname }}</b><br>
<b>{{ klient.ort }}, den ____________________________</b><br>
<br><br>
<b>__________________________________________________</b><br>
Unterschrift
</p>
{% endif %}
<!--div class="submit-row"-->
    {% if back_button %}<br /><br /><a href="javascript:history.go(-1)" class="closelink">{{ back_button }}</a>{% endif %}
<!--/div-->
{% endblock %}