{% extends 'Basis/header.html' %}
{% load static %}
{% block content %}
<div id="content-main">
    {% if orte_liste %}
    <ul class="object-tools">
        <li>
            <a href="/Klienten/ort/add/" class="addlink">
                Ort hinzufügen
            </a>
        </li>   
    </ul>   
    <div id="changelist" class="module filtered">
        <div id="toolbar"></div>

        <form id="changelist-form">
            <div class="results">
                <table id="result_list">
                    <thead>
                        <th>Ort</th><th>Bus</th>
                    </thead>
                    {% for ort in orte_liste %}
                    <tr>
                        <td><a href="/Klienten/ort/{{ ort.id }}/">{{ ort.ort }}</a></td>
                        <td>{{ ort.bus|default_if_none:"-" }}</td>
                   </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
    </div>
    {% else %}
        <p>Keine Orte eingetragen.</p>
    {% endif %}
</div>
{% endblock %}