{% extends 'Basis/base.html' %}

{% block content %}
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit-row">
                <input class="default" type="submit" value="Mein Password ändern">
            </div>
        </form>
    {% else %}
        <p>
            Der Passwort zurücksetzten Link war ungültig, möglicherweise ist er schon einmal verwendet worden.
            Bitte fordern Sie ein neues Zurücksetzen des Passworts an.
        </p>
    {% endif %}
{% endblock %}