{% autoescape off %}
Sehr geehrte(r) {{ first_name }} {{ last_name }},

Dies ist Ihr neuer Bürgerbus Benutzername: "{{ username }}" und Passwort: "{{ password }}". 
Wenn Sie das Passwort ändern möchten, bitte beachten Sie, dass Passwörter, die dem Wort "buergerbus" ähnlich sind, abgewiesen werden. 

Mit diesem Link können Sie sich anmelden: 
{{ protocol }}://{{ domain }}

Falls der Link nicht funktioniert, dann kopieren Sie ihn bitte und führen ihn in einem neuen Browserfenster aus.
Legen Sie sich für den Link ein Lesezeichen an.

Mit freundlichen Grüßen
Ihr Bürgerbus Team
{% endautoescape %}