<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        {% title %}{% endtitle %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/admin/css/base.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "/project/css/base.css" %}" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <footer>

    </footer>
</html>