@page {
    size: A4 portrait;
    margin: 2cm;
}
html {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
body {
    background-color: #ecf2f6;
}
#container {
    min-width: unset;
}
.headline {
    text-align: left;
    margin-bottom: 2em;
    font-size: 11px;
}
.headline .name {
    background: #f6f6f6;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    color: #666;
    text-align: left;
    width: 200px;
}
.headline .value {
    padding: 5px 10px;
    text-align: left;
    width: 200px;
}
h1 {
    text-align: center;
}
.content {
  padding-left: 1.42857rem;
  padding-top: 20px;
  padding-right: 1rem;
}
.content #results {
    margin-right: 280px;
}
.sidebar {
  position: fixed;
  width: 17.85714rem;
  top: 0;
  left:0;
  bottom: 0;
  z-index: 6;
  background: #59677e;
  color: #fff;
  transition: background-color .3s, transform .3s;
  overflow-y: scroll;
}
.sidebar-section {
  padding-bottom: 0;
}
.sidebar-title {
    color: #dbe0e7;
}
.sidebar-title-link, .sidebar-title-link:visited, .sidebar-title-link:hover {
    color: #dbe0e7;
}
.sidebar a:link {
    color: #dbe0e7;
}
.sidebar a:link:active {
    background-color: #555;
    color: #dbe0e7;
}
.sidebar a:link:hover:not(.active) {
    background-color: #555;
    color: #dbe0e7;
}
#branding {
    background-color: #639af5;
    color: #dbe0e7;
    padding: 14px 32px 14px 36px;
    padding: 1rem 2.28571rem 1rem 2.57143rem;
    text-align: center;
    position: relative;
    height: auto !important;
    min-height: 52px;
    min-height: 3.71429rem;
    box-sizing: border-box;
    width: 100%;
}
#branding h1, #branding h2 {

    display: inline-block;
    padding: 0 10px;
    padding: 0 0.71429rem;
    margin: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-size: 0.78571rem;
    vertical-align: middle;

}
.aligned label {
    display: block;
    padding: 8px 10px 0 0;
    padding: 0.57143rem 0.71429rem 0 0;
    float: left;
    width: 160px;
    width: 11.42857rem;
    word-wrap: break-word;
    line-height: 1;
}
.aligned label + p {

    padding: 6px 0;
    padding: 0.42857rem 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 170px;
    margin-left: 12.14286rem;

}
.user-tools ul {
    top: 0.78571rem;
}
#title {
    text-align: center;
}
#header {
	display: block;
}
.logo {
	background-color: white;
	padding-left: 15px;
}
.object-tools a.addlink {
    background-image: none;
    padding: 0 0.71429rem;
    font-size: 11px;
}
.changeform-navigation-button.selected {
    background-color: #59677e;
    color: #fff;
}
.submit-row a.addlink {
    display: inline-block;
    background: #47bac1;
    border-radius: 4px;
    padding: 10px 15px;
    height: auto;
    line-height: 15px;
    margin: 0 0 0 5px;
    color: #fff;
    font-size: 0.85714rem;
}
#changelist table thead th {
    padding: 10px 10px;
}
.even {
    background: #ffffff;
}
.odd {
    background: #f9f9f9;
}
ul.pagination li {
    display: inline-block;
    margin: -1px;
    background-color: #dfdddd;
    padding: 5px;
    min-width: 20px;
    text-align: center
}
.changeform-navigation-button, .changeform-navigation-button:visited, .changeform-navigation-button:hover {
    width: 10rem;
}
.flow {
    float: left;
    background-color: #59677e;
    margin-top: -15px;
    border-radius: 0.28571rem;
    position: absolute;
    min-height: 96%;
    max-width: 250px;
}
.flow .sidebar-section {
    margin-top: -20px;
}
.flow .sidebar-title {
    margin-top: 10px;
}
.help, p.help, form p.help {
    color: #618ab3;
}
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea, select, .vTextField, .select2-container--jet .select2-selection {
    border: 0.07143rem solid #476d86;
}
.changeform-navigation-button-label {
    opacity: 1.0;
}
div.breadcrumbs {
    color: #38547e;
}
.datetimeshortcuts {
    display: none;
}
.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 0px;
}
body.popup #header, body.popup div.breadcrumbs {
        display: none;
}
.submit-row a.closelink {
    font-size: 0.85714rem;
}
.submit-row a.closelink:focus, .submit-row a.closelink:hover, .submit-row a.closelink:active {
    background: #4f4d4d;
}
.addlink::before {
    content: "";
}
.submit-row a.addlink:hover {
    background: #205067;
}
input[type="submit"]:hover {
    height: 35px;
}
.submit-row a.deletelink {
    background: #cc7878;
}
.submit-row a.deletelink, .submit-row a.deletelink:hover {
    height: 35px;
    line-height: 15px;
    padding: 10px 15px;
}
.form-row+.form-row-left {
    float: left;
    width: 50%;
}
.form-row+.form-row-right {
    float: right;
    width: 40%;
}
.form-row+.form-row-right label {
    color: white;
}
.form-row+.form-row-clear {
    clear: both;
}
