{% extends 'Basis/header.html' %}
{% load static %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {% load my_tags %}
        <p>Sind Sie sicher, dass Sie {{ object|verbose_name }} "{{ object }}" löschen wollen? Es werden zusätzlich die folgenden davon abhängigen Daten gelöscht:</p>
        {% if related_objects %}
        <h2>Zusammenfassung</h2>
            <ul>
            {% for classname, queryset in related_objects.items %}
                <li>{{ classname }}: {{ queryset|length }}</li>
            {% endfor %}
            </ul>
        <h2>Objekte</h2>
            <ul>     
            {% for classname, queryset in related_objects.items %}
                {% for inst in queryset %}
                    <li>{{ classname }}: {{inst}}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
        <div class="submit-row">
            <a href="javascript:history.go(-1)" class="closelink">{{ back_button|upper|default:'Abbrechen' }}</a>
            <input type="submit" value="{{ submit_button|default:'Bestätigen' }}" class="default" name="_save">
            {% if delete_button %}
                <p class="deletelink-box">
                    <a href="delete/{{ url_args }}" class="deletelink">{{ delete_button|default:'Löschen' }}</a>
                </p>
            {% endif %}
        </div>
    </form>
{% endblock %}
