{% extends 'Basis/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div id="content-main">
    <div id="changelist" class="module filtered">
        <div id="toolbar"></div>
        <form id="changelist-form">
            <div class="results">
                <div class="flow">
                    {% if indexbar_liste %}
                        {% for sidebar in indexbar_liste %}
                            <div class="sidebar-section">
                                <div class="sidebar-title">
                                    <span class="sidebar-title-link">
                                        {{ sidebar.name }}
                                    </span>
                                </div>
                                {% for sidebarlink in sidebar.value %}
                                <a class="sidebar-link" href="{{ sidebarlink.value }}">
                                    {{ sidebarlink.name|safe }}
                                </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="image">
                    <p style="text-align: center; padding-top: 50px; padding-bottom: 50px; padding-left: 250px;"><img src="{% static "project/img/Buergerbus-Projektgruppen.jpg" %}"></p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}