<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        {% block title %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "/admin/css/base.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "/project/css/base.css" %}" />
    </head>
    <body>
        {% if sidebar_liste %}
        <div class="sidebar">
            <div class="sidebar-section  padding0">
                <span class="sidebar-link-label">
                    <div id="branding">VG Alzey-Land Bürgerbus Portal</div>
                </span>
            </div>            
            {% for sidebar in sidebar_liste %}
            <div class="sidebar-section">
                <a class="sitebar-link" href="{{ sidebar.value }}">
                    <span class="sidebar-link-label">{{ sidebar.name }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="content">      
            {% block content %}{% endblock %}
        </div>  
    </body>
    <footer>

    </footer>
</html>