{% extends 'Einsatztage/header.html' %}
{% block title %}<title>Tour anzeigen</title>{% endblock %}
{% block content %}
        <h1>Fahrplan Bus {{ fahrtag_liste.team.bus }} am {{ fahrtag_liste.datum }}</h1>
{%if fahrtag_liste %}
<table class="headline">
    <tr>
        <td class="name">Fahrer Vormittag:</td><td class="value">{{ fahrtag_liste.fahrer_vormittag.name }}</td>
    </tr>
    <tr>
        <td class="name">Fahrer Nachmittag:</td><td class="value">{{ fahrtag_liste.fahrer_nachmittag.name }}</td>
    </tr>
</table>
{% endif %}

{% if tour_liste %}
<div class="results">
    <table id="result_list">
        <thead>
            <th>Klient</th><th>Telefon</th><th>Uhrzeit</th><th>Abholort</th><th>Zielort</th><th>Entfernung</th><th>Ankunft</th><th>Bemerkungen</th>
        </thead>
    {% for tour in tour_liste %}
        <tr>
            <td>{{ tour.klient }}</td>
            <td>{{ tour.klient.telefon }}<br>{{ tour.klient.mobil }}</td>
            <td>{{ tour.uhrzeit }}</td>
            <td>{% if tour.klient != tour.abholklient %}
                    {{ tour.abholklient.name }}
                {% endif %}
                <br>{{ tour.abholklient.ort }}<br>{{ tour.abholklient.strasse }}&nbsp;{{ tour.abholklient.hausnr }}</td>
            <td>{% if tour.klient != tour.zielklient %}
                    {{ tour.zielklient.name }}
                {% endif %}
                <br>{{ tour.zielklient.ort }}<br>{{ tour.zielklient.strasse }}&nbsp;{{ tour.zielklient.hausnr }}</td>
            <td>{{ tour.entfernung }}</td>
            <td>{{ tour.ankunft }}</td>
            <td>{{ tour.klient.bemerkung }}<br>{{ tour.bemerkung }}</td>        
        </tr>
    {% endfor %}
    </table>
</div>
{% else %}
    <p>Keine Touren eingetragen</p>
{% endif %}
{% endblock %}