{% extends 'Basis/base.html' %}
{% load static %}
{% block content %}
<div id="content-main">
    <ul class="object-tools">
    </ul>  
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <div>  
        <fieldset class="module aligned">
            {% for field in form.visible_fields %}
            <div class="form-row">
                <div>
                    {{ form.as_p }}
                </div>
            </div>
            {% endfor %}
        </fieldset>
    </div>
    <div class="submit-row">
        <button type="submit">Login</button>
    </div>
     
</form>
</div>
</script>
{% endblock %}